@import '../../assets/style/utilities/index.scss';

.wishList {
    &__header {
        display: flex;
        align-items: center;
        background-color: $light-gray;
        padding: rem(15) rem(150);

        &__left {
            width: 50%;

            h3 {
                @include font(25, 700);
            }
        }

        &__right {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            @include font(14, 700);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: rem(30);
        border-bottom: 1px solid #d6d6d6;

        &__left {
            width: 50%;
            display: flex;
            align-items: center;
        }

        &__img {
            img {
                width: rem(100);
            }
        }

        &__name {
            h4 {
                color: #06c;
                padding-left: rem(30);
            }
        }

        &__right {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding-right: rem(110);
            margin-top: rem(20);
            gap: rem(20);
        }

        &__remove {
            position: absolute;
            right: 0;

            button {
                background: transparent;
                font-size: rem(16);
                color: $dark-gray;
                transition: 0.3s;

                &:hover {
                    color: $dark-red;
                }
            }
        }

        &__stock {
            color: #62C370;
            padding-left: rem(15);
        }

        &__add {
            color: #06c;
            font-size: rem(16);

            &:hover {
                color: blue;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: rem(20);
    }

    &__empty {
        background-color: $light-gray;
        padding: rem(15);
        border-top: rem(3) solid #1e85be;
        text-align: center;
    }

    @include breakpoint-max($desktop-sm-width) {
        &__header {
            display: none;
        }

        &__item {
            flex-direction: column;
            padding: rem(10);

            &__left {
                flex-direction: column;
                width: 100%;
                gap: rem(20);
            }

            &__right {
                flex-direction: column;
                width: initial;
                padding-right: 0;
            }

            &__name {
                h4 {
                    padding-left: 0;
                }
            }

            &__remove {
                bottom: rem(-2);
                right: rem(-35);
            }

            &__stock {
                padding-left: 0;
            }
        }
    }

    @include breakpoint-max($tablet-width) {
        &__item {
            &__right {
                margin-top: rem(15);
                gap: rem(15);
            }  
            
            &__left {
                gap: rem(15);
            }    
        }

        &__footer {
            flex-direction: column;
            gap: rem(15);
        }
    }
}