@import '../../assets/style/utilities/index.scss';

.filterBar {
  background-color: $light-gray;
  width: rem(275);
  overflow: auto;

  &__close {
    display: none;
    width: 100%;
    padding: rem(10) rem(15);
    font-size: rem(16);
    z-index: 1;
    background: $dark-red;
    color: #fff;
  }

  .filter {
    padding: rem(25) rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(40);

    &__title {
      @include font(18, 700);
      margin-bottom: rem(20);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: rem(20);
    }

    &__item {
      display: flex;
      justify-content: space-between;

      input {
        width: rem(20);
        height: rem(16);
        cursor: pointer;
      }

      label {
        cursor: pointer;
      }
    }

    &__price__inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(20);
      gap: rem(15);

      input {
        padding: rem(10);
        border-radius: rem(5);
        outline: 0;
        background: #fff;
        line-height: 1;
        color: #000;
        border: 1px solid #dfdfdf;
        width: 100%;

        &:focus {
          border-color: #333;
        }
      }
    }
  }
}

.backdrop {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
}

@include breakpoint-max($desktop-sm-width) {
  .filterBar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 100%;
    max-width: rem(300);
    height: 100%;
    z-index: 99;
    transition: right 0.3s;

    &.active {
      box-shadow: -2px 0 49px -6px rgb(0 0 0 / 20%);
      right: 0;
    }

    &__close {
      display: block;
    }
  }

  .backdrop.active {
    opacity: 1;
    pointer-events: initial;
  }
}