@import '../../assets/style/utilities/index.scss';

.product {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: rem(15) rem(15) rem(10) rem(15);
    transition: 0.5s;

    &:hover {
        box-shadow: 2px 3.5px 24px 0 rgb(18 16 11 / 31%);
    }

    &__img {
        display: block;
        height: rem(230);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__name {
        h4 {
            @include font(14, 700, 18);
            letter-spacing: rem(-0.5);
            color: black;
            margin-bottom: rem(10);
            height: rem(36);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &__footer {
        display: flex;
        color: black;
        margin-bottom: rem(10);

        .small {
            font-size: rem(11);
            margin-bottom: rem(7);
        }

        b {
            @include font(14, 700);
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35%;
        padding: rem(10) 0;
    }

    &__payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        padding-left: rem(5);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: rem(8);
            left: 0;
            height: rem(40);
            width: 1px;
            background-color: black;
        }

        span {
            &:last-of-type {
                font-size: rem(14);
            }
        }
    }

    &__btn {
        font-size: rem(14);
        background-color: $light-red;
        color: white;
        font-weight: bold;
        border-radius: rem(15);
        padding: rem(5) rem(20);

        &:hover {
            background: darken($light-red, 10%);
        }
    }

    &__icons {
        position: absolute;
        top: rem(10);
        left: rem(15);
        display: flex;
        flex-direction: column;
        gap: rem(5);
    }

    &__icon {
        background-color: white;
        border-radius: 50%;
        padding: rem(3);

        svg {
            width: rem(20);
            height: rem(20);
            fill: rgb(55, 58, 54);

            &:hover {
                fill: $light-red;
            }
        }

        &.active {
            svg {
                fill: $light-red;
            }
        }
    }

    @include breakpoint-max($mobile-width) {
        padding: rem(10);

        &__footer {
            flex-direction: column;
        }

        &__price {
            width: 100%;
        }

        &__payment {
            width: 100%;
            padding-left: 0;

            &::before {
                display: none;
            }
        }

        &__icons {
            left: rem(10);
        }
    }
}