@import '../../assets/style/utilities/index.scss';

.productDetail {
    margin-top: rem(50);

    &__title {
        @include font(27, 700);
        color: $dark;
        margin-bottom: rem(20);
    }

    &__content {
        display: flex;
        gap: rem(50);
    }

    &__left {
        display: flex;
        align-items: center;
        width: 50%;
        gap: rem(40);
    }

    &__img {
        max-width: rem(335);
        height: rem(335);
        margin: auto;
        cursor: pointer;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__thumbImg {
        height: rem(50);
        width: 100%;
        object-fit: contain;
    }

    &__carousel {
        overflow-x: hidden;
        max-width: rem(370);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    &__price {
        color: #f00;
        @include font(30, 700);
        margin-bottom: rem(20);
    }

    &__calc {
        display: flex;
        flex-direction: column;

        &__title {
            margin: 0 0 rem(20);
            @include font(18, 400);
            color: $gray;
        }

        &__text {
            position: relative;
            display: inline-block;
            margin: 0 0 rem(20);
            padding: rem(10) rem(15);
            font-size: rem(15);
            background: $dark;
            border-radius: rem(3);
            color: #fff;
        }

        &__btn {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-content: stretch;
            align-items: center;
            margin-bottom: rem(20);

            &:after {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background: #10395F;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 0;
                content: '';
            }

            button {
                display: block;
                margin: 0;
                padding: 0;
                z-index: 1;
                background: #fff;
                border: 1px solid $gray;
                border-radius: 100%;
                overflow: hidden;
                @include font(13, 500);
                width: rem(44);
                height: rem(44);
                text-align: center;
                letter-spacing: -1px;
                color: $gray;
                transition: 0.3s ease;

                &.active {
                    background: $dark !important;
                    color: white !important;
                    font-weight: bold;
                }

                &:hover {
                    background: #f1f1f1;
                }
            }
        }
    }

    &__right {
        flex-grow: 1;
        margin-top: rem(40);
    }

    &__table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

        td,
        th {
            border: 1px solid #707070;
            text-align: left;
            padding: rem(10);
            color: $gray;
            font-size: rem(18);
            text-transform: capitalize;
        }

        tr {
            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &__icons {
        display: flex;
        gap: rem(20);
        align-items: center;
        margin-top: rem(15);
    }

    &__icon {
        &.active {
            svg {
                fill: $light-red;
            }
        }

        svg {
            width: rem(35);
            font-size: rem(30);
            fill: $dark;
            transition: 0.3s;

            &:hover {
                fill: $light-red;
            }
        }
    }

    @include breakpoint-max($desktop-sm-width) {
        &__content {
            flex-direction: column;
        }

        &__left {
            width: 100%;
            flex-direction: column;
        }

        &__right {
            margin: 0;
        }

        &__calc-title {
            text-align: center;
        }

        &__info {
            align-items: center;
        }

        &__title {
            text-align: center;
        }
    }

    @include breakpoint-max($tablet-width) {
        &__content {
            gap: rem(20);
        }

        &__left {
            gap: rem(20);
        }

        &__title {
            font-size: rem(20);
        }

        &__img {
            height: rem(300);
        }

        &__thumbImg {
            height: rem(40);
        }
    }

    @include breakpoint-max($mobile-width) {

        td,
        th {
            font-size: rem(14);
        }
    }
}