@import '../../assets/style/utilities/index.scss';

.swiper-slide {
    &-thumb {
        &-active {
            border: 2px solid $light-red !important;
            opacity: 1 !important;
        }
    }

    &-visible {
        opacity: 0.4;
        border-radius: 5px;
        padding: rem(7);
        border: 1px solid #333;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}