@import '../../assets/style/utilities/index.scss';

.brands {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(30);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        justify-content: space-between;
        align-items: center;
        padding: rem(15);
        border: 1px solid #dedede;
        border-radius: rem(5);
        transition: 0.3s;

        &:hover {
            box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
        }
    }

    &__img {
        height: rem(90);
        width: 100%;
        object-fit: contain;
    }

    &__name {
        color: #10395f;
        font-weight: 500;
    }

    @include breakpoint-max($desktop-sm-width) {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include breakpoint-max($tablet-width) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            padding: rem(10);
        }

        &__img {
            height: rem(80);
        }
    }
}