@font-face {
    font-family: 'JISAZNRegular';
    src: url('/fonts/jaznr/jaznr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@each $type, $weight in $font-types {
    @font-face {
      font-family: $font-family;
      font-weight: $weight;
      font-style: normal;
      src: url("/fonts/roboto/Roboto-#{$type}.ttf") format("truetype");
      font-display: swap;
    }
  }