.g-container {
    width: 100%;
    margin: 0 auto;
    max-width: calc(100% - #{rem(45)} * 2);

    @include breakpoint-max($desktop-width) {
        max-width: calc(100% - #{rem(30)} * 2);
    }

    @include breakpoint-max($tablet-width) {
        max-width: calc(100% - #{rem(15)} * 2);
    }
}

.spinner {
    text-align: center;
    width: 100%;

    img {
        width: rem(300);
    }

    &.search__spinner {
        position: absolute;

        img {
            position: absolute;
            width: rem(50);
            right: rem(100);
        }
    }
}

.g-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    padding: 0 rem(25);
    height: rem(45);
    font-size: rem(18);
    text-align: center;
    border-radius: rem(5);
    border: 1px solid transparent;

    svg {
        font-size: rem(20);
    }

    &--red {
        background-color: $dark-red;
        color: white;

        &:hover {
            background-color: darken($dark-red, 10%);
        }
    }

    &--white {
        border: 1px solid #7f7f7f;
        color: black;
        background-color: transparent;

        &:hover {
            background-color: darken(white, 10%);
        }
    }
}

.carousel-headline {
    margin-bottom: rem(25);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-max($mobile-width){
        margin-bottom: rem(15);
    }
}

.carousel-title {
    @include font(23, 600);
    color: $gray;
    text-transform: uppercase;

    @include breakpoint-max($mobile-width){
        font-size: rem(18);
    }
}

.btn-all {
    height: rem(48);
    @include font(17, 500);
    border-radius: rem(48);
    background: $orange;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: rem(0) rem(50);

    &:hover {
        background: $gray
    }

    @include breakpoint-max($mobile-width) {
        padding: rem(0) rem(20);
        font-size: rem(14);
        height: rem(40);
    }
}

.swiper {
    height: 100%;

    &-pagination {
        justify-content: center !important;
        bottom: 0 !important;

        &-lock {
            display: flex !important;
        }

        &-bullet {
            width: rem(12) !important;
            height: rem(12) !important;
            background-color: #d9d9d9 !important;
            opacity: 1 !important;

            &:only-child {
                display: flex !important;
                justify-content: center !important;
            }

            &-active {
                background-color: $gray !important;
            }
        }
    }

    &-button {
        &-lock {
            display: flex !important;
        }

        &-prev,
        &-next {
            color: $gray;
            margin: 0;

            &::after {
                font-size: rem(20);
            }
        }
    }
}